
#indexhtmltitle {
    color: forestgreen;
    background-color: chocolate;
    font-family: 'Josefin Sans', sans-serif;
}

#indexhtmllink {
    background-color: #d0d0d0;
    height: 80px;
    border-radius: 40px;
}